<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro Usuario</title>
</head>
<body>
<h1>Registro Usuario</h1>
<form action="/guardar_usuario" method="post" th:object="${usuario}">
    <label for="nombres">Nombres:</label>
    <input type="text" id="nombres" th:field="*{nombres}"><br><br>

    <label for="apellidos">Apellidos:</label>
    <input type="text" id="apellidos" th:field="*{apellidos}"><br><br>

    <label for="contraseña">Contraseña:</label>
    <input type="text" id="contraseña" th:field="*{contraseña}"><br><br>



    <button type="submit">Guardar</button>
</form>

</body>
</html>